<h1>居酒屋ファインダー</h1>

<body>
<%= #form_for @post,url: "/update", method: "post" do %>

<%= form_with(model: @post, local: true,url: "/update", method: "post") do %>
  <% =form_text_field :address,placeholder:"住所を入力して下さい" %>


<li>お店までの距離</li>
<select name="range" required>
<option selected="selected" value= "3">おまかせ</option>
<option value= "1">300m</option>
<option value= "2">500m</option>
<option value= "3">1000m</option>
<option value= "4">2000m</option>
<option value= "5">3000m</option>
</select>
<br><br>



<li>喫煙</li>
<select name="smoking" required>
<option selected="selected" value= "0">禁煙</option>
<option value= "1">喫煙</option>
</select>
<br><br><br>

<% end %>

<a href="/show" class="btn-square">検索</a>



   


</body>
<br><br><br>
Powered by <a style="text-align:right" href="http://webservice.recruit.co.jp/">ホットペッパー Webサービス</a>